/*Null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input::placeholder {
  opacity: 1;
}
nav,
footer,
header,
aside {
  display: block;
}
.page,
.page-index {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
s {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* fonts */
@font-face {
  font-weight: 400;
  font-family: "Helvetica";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2");
  src: url("../fonts/GraphikLCG-Regular.woff") format("woff");
}
/* colors constant */
:root {
  --cl-black: rgb(0, 0, 0);
  --cl-white: rgb(255, 255, 255);
}
/* font constant */
:root {
  --fz-nav-menu: 12px;
  --lh-nav-menu: 1.25;
}
/* common styles */
.page-index {
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--x-black);
}
.container {
  max-width: 580px;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
/* adaptive styles */
@media (max-width: 320px) {
  :root {
    --fz-cover-title: 30px;
    --lh-cover-title: 1.3;
  }
}
/* helpful style */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
