/* ------- clear style ------- */
.link-clear {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
  cursor: pointer;
  margin: 0;
}
.link-clear:visited,.link-clear:link{
	text-decoration: none;
}
.list-clear {
  list-style: none;
  padding: 0;
  margin: 0;
}
.button-clear {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
.button-clear::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.text-clear {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
.page,
.body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.iframe{
	width: 100%;
}
/* ------- colors constant -------- */
:root {
  --cl-black: rgb(0, 0, 0);
  --cl-white: rgb(255, 255, 255);
	--cl-txt-main:rgb(174, 124, 120);
	--cl-brd-main:rgb(174, 124, 120);
	--cl-bg-main-button: rgb(216, 153, 153);
	--cl-shd-main-button-hover:rgb(193, 135, 135);

}
/* ------- font constant ------- */
:root {
  --fz-main: 16px;
  --lh-main: 1.25;
	--fz-main-title: 44px;
	--lh-main-title:1.34;
	--fz-section-text:24px;
	--lh-section-text:1.2;
}
/* ------- common styles ------- */
.body {
  font-family: "Montserrat", "Arial", sans-serif;
	font-size: var(--fz-main);
	line-height: var(--lh-main);
  color: var(--cl-txt-main);
	min-width: 1200px;
	margin: 0;
	padding: 0;
}
.container {
  margin: 0 auto;
	width: 1200px;
}
.main {
  flex: 1 1 auto;
}
.italic{
	font-style: italic;
}
/* ------- navigation ------- */
.navigation{
	border: 1px solid var(--cl-brd-main);
	border-left: none;
	border-right: none;
	position: relative;
}
.navigation-list{
	display: flex;
	padding: 22px 0;
}
.navigation-link{
	position: relative;
	color: inherit;
}
.navigation-link::before{
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -2px;
	background: var(--cl-brd-main);
	transition: width 0.3s;
}
.navigation-link:hover.navigation-link::before {
	width: 100%;
	opacity: 0.5;
}
.navigation-logo{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}
/* navigation margin */
.navigation{
	margin-top: 26px;
	margin-bottom: 82px;
}
.navigation-item{
	margin-right: 102px;
}
.navigation-item:nth-child(4){
	margin-left: auto;
}
.navigation-item:nth-child(3) ~ .navigation-item:not(:last-child){
	margin-right: 89px;
}
.navigation-item:last-child{
	margin-right: 0;
}
/* ------- cover ------- */
.cover .container{
	display: flex;
	min-height: 463px;
}
.cover-text-block{
	max-width: 384px;
	min-height: 100%;
}
.cover .main-title{
	font-family: "Playfair Display", serif;
	font-size: var(--fz-main-title);
	line-height: var(--lh-main-title);
}
.section-text{
	font-size: var(--fz-section-text);
	line-height: var(--lh-section-text);
}
.main-button{
	text-align: center;
	width: 285px;
	padding: 30px;
	border-radius: 40px;
	background: var(--cl-bg-main-button);
	color: var(--cl-white);
	transition: box-shadow 0.3s;
}
.main-button:hover{
	box-shadow: 0 0 0 3px var(--cl-shd-main-button-hover);
}
.cover-img{
	display: block;
	max-width: 100%;
	border-radius: 10px;
}
.cover-img-block{
	display: flex;
}
/* cover margin */
.cover{
	margin-bottom: 48px;
}
.cover-text-block{
	margin-right:23px ;
}
.cover-img{
	margin-top: auto;
	margin-right: 20px;
}
.cover-img:last-child{
	margin-right: 0;
	margin-top: 0;
}
.cover .main-title{
	margin-bottom: 24px;
}
.cover .section-text{
	margin-bottom: 64px;
}
/* ------- helpful style ------- */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
