/* ------- fonts ------- */
@font-face {
  font-weight: 400;
  font-family: "Helvetica";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2");
  src: url("../fonts/GraphikLCG-Regular.woff") format("woff");
}
/* ------- clear style ------- */
.link-clear {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  margin: 0;
}
.list-clear {
  list-style: none;
  padding: 0;
  margin: 0;
}
.button-clear {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
.button-clear::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.text-clear {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
.fieldset-clear {
  margin: 0;
  padding: 0;
  border: none;
}
.input-clear::placeholder {
  opacity: 1;
}
.input-clear::-ms-clear {
  display: none;
}
.input-clear {
  font-family: inherit;
}
.page,
.page-index {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* ------- colors constant -------- */
:root {
  --cl-black: rgb(0, 0, 0);
  --cl-white: rgb(255, 255, 255);
}
/* font constant */
:root {
  --fz-nav-menu: 12px;
  --lh-nav-menu: 1.25;
}
/* common styles */
.page-index {
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--x-black);
}
.container {
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}

/* helpful style */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
